In [18]:
import pandas as pd

# Download data

In [37]:
data_path = "https://raw.githubusercontent.com/Agnes4Him/project-datasets/refs/heads/main/teen_phone_addiction_dataset.csv"
df = pd.read_csv(data_path)
df.head()

,ID,Name,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,...,Screen_Time_Before_Bed,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level
0,1,Shannon Francis,13,Female,Hansonfort,9th,4.0,6.1,78,5,...,1.4,86,19,3.6,1.7,1.2,Browsing,4,8.7,10.0
1,2,Scott Rodriguez,17,Female,Theodorefort,7th,5.5,6.5,70,5,...,0.9,96,9,1.1,4.0,1.8,Browsing,2,5.3,10.0
2,3,Adrian Knox,13,Other,Lindseystad,11th,5.8,5.5,93,8,...,0.5,137,8,0.3,1.5,0.4,Education,6,5.7,9.2
3,4,Brittany Hamilton,18,Female,West Anthony,12th,3.1,3.9,78,8,...,1.4,128,7,3.1,1.6,0.8,Social Media,8,3.0,9.8
4,5,Steven Smith,14,Other,Port Lindsaystad,9th,2.5,6.7,56,4,...,1.0,96,20,2.6,0.9,1.1,Gaming,10,3.7,8.6

# Data Exploration

In [38]:
df.shape

(3000, 25)

In [39]:
df.dtypes

ID                          int64
Name                       object
Age                         int64
Gender                     object
Location                   object
School_Grade               object
Daily_Usage_Hours         float64
Sleep_Hours               float64
Academic_Performance        int64
Social_Interactions         int64
Exercise_Hours            float64
Anxiety_Level               int64
Depression_Level            int64
Self_Esteem                 int64
Parental_Control            int64
Screen_Time_Before_Bed    float64
Phone_Checks_Per_Day        int64
Apps_Used_Daily             int64
Time_on_Social_Media      float64
Time_on_Gaming            float64
Time_on_Education         float64
Phone_Usage_Purpose        object
Family_Communication        int64
Weekend_Usage_Hours       float64
Addiction_Level           float64
dtype: object

In [40]:
df.isnull().sum()

ID                        0
Name                      0
Age                       0
Gender                    0
Location                  0
School_Grade              0
Daily_Usage_Hours         0
Sleep_Hours               0
Academic_Performance      0
Social_Interactions       0
Exercise_Hours            0
Anxiety_Level             0
Depression_Level          0
Self_Esteem               0
Parental_Control          0
Screen_Time_Before_Bed    0
Phone_Checks_Per_Day      0
Apps_Used_Daily           0
Time_on_Social_Media      0
Time_on_Gaming            0
Time_on_Education         0
Phone_Usage_Purpose       0
Family_Communication      0
Weekend_Usage_Hours       0
Addiction_Level           0
dtype: int64

In [41]:
df.Addiction_Level.describe()

count    3000.000000
mean        8.881900
std         1.609598
min         1.000000
25%         8.000000
50%        10.000000
75%        10.000000
max        10.000000
Name: Addiction_Level, dtype: float64

In [42]:
def categorize_level(x):
    if x < 4:
        return "Low"
    elif 4 < x < 7:
        return "Moderate"
    else:
        return "High"

df["Addiction_Category"] = df["Addiction_Level"].apply(categorize_level)

In [43]:
df.head()

,ID,Name,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,...,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level,Addiction_Category
0,1,Shannon Francis,13,Female,Hansonfort,9th,4.0,6.1,78,5,...,86,19,3.6,1.7,1.2,Browsing,4,8.7,10.0,High
1,2,Scott Rodriguez,17,Female,Theodorefort,7th,5.5,6.5,70,5,...,96,9,1.1,4.0,1.8,Browsing,2,5.3,10.0,High
2,3,Adrian Knox,13,Other,Lindseystad,11th,5.8,5.5,93,8,...,137,8,0.3,1.5,0.4,Education,6,5.7,9.2,High
3,4,Brittany Hamilton,18,Female,West Anthony,12th,3.1,3.9,78,8,...,128,7,3.1,1.6,0.8,Social Media,8,3.0,9.8,High
4,5,Steven Smith,14,Other,Port Lindsaystad,9th,2.5,6.7,56,4,...,96,20,2.6,0.9,1.1,Gaming,10,3.7,8.6,High

In [44]:
df_low = df[df["Addiction_Level"] < 4]
len(df_low)

41

In [45]:
df_medium = df[(df["Addiction_Level"] >= 4.0) & (df["Addiction_Level"] < 7.0)]
len(df_medium)

378

In [46]:
df_high = df[df["Addiction_Level"] >= 7]
len(df_high)

2581

In [47]:
len(df_low) + len(df_medium) + len(df_high)

3000

In [48]:
df[(df["Addiction_Level"] >= 4.0) & (df["Addiction_Level"] < 7.0)]

,ID,Name,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,...,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level,Addiction_Category
20,21,Michael Williams,15,Female,Margaretmouth,12th,3.0,5.1,83,4,...,58,6,1.7,1.7,2.0,Social Media,8,6.7,6.2,Moderate
24,25,Mark Crawford,19,Other,Port Alan,12th,4.6,7.2,85,7,...,71,5,1.8,0.8,1.1,Social Media,8,6.2,6.0,Moderate
36,37,Laura Steele,13,Female,Burketown,8th,4.4,6.8,62,8,...,66,7,0.9,0.0,0.0,Browsing,1,6.9,4.6,Moderate
45,46,Brandi King,18,Female,Evanschester,8th,1.0,6.2,60,5,...,25,16,3.1,0.0,2.0,Gaming,4,5.8,4.7,Moderate
60,61,Derek York,19,Male,Shafferville,10th,3.7,7.9,89,9,...,92,7,0.9,2.1,0.9,Education,7,2.0,6.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2981,2982,David White,19,Other,Andersonborough,8th,1.4,6.1,62,5,...,77,8,1.4,1.5,1.3,Browsing,2,3.0,4.4,Moderate
2985,2986,Karen Webb,18,Other,New David,10th,2.2,4.2,65,8,...,42,11,2.9,0.2,2.2,Browsing,1,8.6,6.2,Moderate
2996,2997,Bethany Murray,13,Female,Richardport,8th,3.6,7.3,93,5,...,45,8,3.1,0.0,0.3,Gaming,9,5.2,5.5,Moderate
2997,2998,Norman Hughes,14,Other,Rebeccaton,7th,3.2,6.5,98,1,...,51,13,2.4,0.2,2.4,Social Media,9,5.9,6.2,Moderate
2999,3000,Curtis Johnson,17,Male,Lake Alexander,10th,3.5,6.9,79,4,...,117,8,0.0,2.3,0.1,Education,7,5.1,6.3,Moderate

In [49]:
del df["ID"]
del df["Name"]

In [50]:
df.head()

,ID,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,Exercise_Hours,...,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level,Addiction_Category
0,1,13,Female,Hansonfort,9th,4.0,6.1,78,5,0.1,...,86,19,3.6,1.7,1.2,Browsing,4,8.7,10.0,High
1,2,17,Female,Theodorefort,7th,5.5,6.5,70,5,0.0,...,96,9,1.1,4.0,1.8,Browsing,2,5.3,10.0,High
2,3,13,Other,Lindseystad,11th,5.8,5.5,93,8,0.8,...,137,8,0.3,1.5,0.4,Education,6,5.7,9.2,High
3,4,18,Female,West Anthony,12th,3.1,3.9,78,8,1.6,...,128,7,3.1,1.6,0.8,Social Media,8,3.0,9.8,High
4,5,14,Other,Port Lindsaystad,9th,2.5,6.7,56,4,1.1,...,96,20,2.6,0.9,1.1,Gaming,10,3.7,8.6,High

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

len(df_train), len(df_val), len(df_test)

(1800, 600, 600)

In [54]:
df_train.head()

,ID,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,Exercise_Hours,...,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level,Addiction_Category
2239,2240,16,Male,South Timothyland,9th,4.0,9.0,92,0,1.2,...,97,16,1.1,2.2,0.7,Social Media,2,6.4,7.9,High
1376,1377,17,Male,Lake Kristybury,11th,1.4,4.9,94,10,0.2,...,61,11,4.0,0.1,1.6,Social Media,5,3.2,6.5,Moderate
2857,2858,16,Male,Port Hollymouth,12th,4.7,8.3,54,5,0.4,...,71,14,2.5,2.3,1.9,Gaming,8,4.7,9.6,High
5,6,13,Female,East Angelachester,10th,3.9,6.3,89,3,0.7,...,135,8,3.8,0.0,1.4,Social Media,7,6.0,8.8,High
842,843,16,Other,Jimenezside,8th,5.6,6.9,96,8,0.5,...,87,17,3.7,0.3,0.8,Education,10,6.5,10.0,High

In [57]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

df_train.head()

,ID,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,Exercise_Hours,...,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level,Addiction_Category
0,2240,16,Male,South Timothyland,9th,4.0,9.0,92,0,1.2,...,97,16,1.1,2.2,0.7,Social Media,2,6.4,7.9,High
1,1377,17,Male,Lake Kristybury,11th,1.4,4.9,94,10,0.2,...,61,11,4.0,0.1,1.6,Social Media,5,3.2,6.5,Moderate
2,2858,16,Male,Port Hollymouth,12th,4.7,8.3,54,5,0.4,...,71,14,2.5,2.3,1.9,Gaming,8,4.7,9.6,High
3,6,13,Female,East Angelachester,10th,3.9,6.3,89,3,0.7,...,135,8,3.8,0.0,1.4,Social Media,7,6.0,8.8,High
4,843,16,Other,Jimenezside,8th,5.6,6.9,96,8,0.5,...,87,17,3.7,0.3,0.8,Education,10,6.5,10.0,High

In [58]:
y_train = df_train["Addiction_Level"].values
y_val = df_val["Addiction_Level"].values
y_test = df_test["Addiction_Level"].values

del df_train["Addiction_Level"]
del df_val["Addiction_Level"]
del df_test["Addiction_Level"]

# One Hot Encoding

In [59]:
from sklearn.feature_extraction import DictVectorizer

In [61]:
dv = DictVectorizer(sparse=False)

In [62]:
train_dict = df_train.to_dict(orient="records")
val_dict = df_val.to_dict(orient="records")
test_dict = df_test.to_dict(orient="records")

X_train = dv.fit_transform(train_dict)
X_val = dv.transform(val_dict)
X_test = dv.transform(test_dict)